<div class="text-center">
    <h1>Movie</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputEmail1">Title*</label>
        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title"
            formControlName="title" [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }">
        <div class="invalid-feedback" *ngIf="f.title.errors">
            <div *ngIf="f.title.errors.required">
                Title is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Year*</label>
        <input type="date" timezone="[[timezone]]" class="form-control" id="year" aria-describedby="emailHelp"
            placeholder="Enter year" formControlName="year"
            [ngClass]="{ 'is-invalid': f.year.touched && f.year.errors }">
        <div class="invalid-feedback" *ngIf="f.year.errors">
            <div *ngIf="f.year.errors.required">
                Year is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Duration*</label>
        <input type="text" class="form-control" id="duration" aria-describedby="emailHelp" placeholder="Enter duration"
            formControlName="duration"
            [ngClass]="{ 'is-invalid': f.duration.touched && f.duration.errors }">
            <div class="invalid-feedback" *ngIf="f.duration.errors">
                <div *ngIf="f.duration.errors.required">
                    Duration is required
                </div>
            </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
    </div>
</form>