<h1>Movies</h1>
    <div class="form-group container">
        <div class="row">
            <div class="col-11">
                <input [(ngModel)]="title" type="text" class="form-control" id="titleMovie"
                    placeholder="Filter by title">
            </div>
            <div class="">
                <button type="submit" (click)="filterMovies()"  class="btn btn-primary ">Filter</button>
            </div>
        </div>
    </div>



<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Movie</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Id</th>
            <th style="width: 30%">title</th>
            <th style="width: 30%">year</th>
            <th style="width: 30%">duration</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody *ngIf="movies">
        <tr *ngFor="let movie of movies">
            <td>{{movie.movieId}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.duration}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{movie.movieId}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteMovie(movie.movieId)" class="btn btn-sm btn-danger btn-delete-user">
                    Delete
                </button>
            </td>
        </tr>
        <tr *ngIf="!movies">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>