<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
    <a class="nav-item nav-link" routerLink="/actors" routerLinkActive="active">Actors</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container bg-light">

  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">

</div>
