<div class="p-4">
    <div class="container">
        <h1>SPA - CRUD Movies and Actors</h1>
        <p>by Jesfrin Gonzalez</p>
        <p><a routerLink="/movies">&gt;&gt; Manage Movies</a></p>
        <p><a routerLink="/actors">&gt;&gt; Manage Actors</a></p>
    </div>
</div>